---
import { getCollection, type CollectionEntry } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Post from "@/components/Post.astro";
import Project from "@/components/Project.astro";
import ThemeEditor from "@/components/ThemeEditor";
import SeoPage from "@/components/SeoPage.astro";

const posts = (await getCollection("blog")).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
);

const projects = await getCollection("projects");
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <ThemeEditor client:load />
  </main>
</BaseLayout>
