<section class="prose dark:prose-invert">
  <p>
    Barebones + shadcn is based on the free and open source theme <a
      href="https://barebones.superwebthemes.com/">Barebones</a
    >. It's built with <a href="https://astro.build/">Astro</a>, <a
      href="https://tailwindcss.com/">Tailwind CSS</a
    >, and <a href="https://ui.shadcn.com/">shadcn ui</a>.
  </p>
  <p>
    Check out our <a href="https://docs.superwebthemes.com">documentation</a> to
    get started.
  </p>
  <h2>Key features</h2>
  <ul>
    <li>
      <strong>Batteries included: </strong>Get started immediately with a
      ready-to-use setup. Start writing right away, no extensive configuration
      required.
    </li>
    <li>
      <strong>Fast by default: </strong>Leverage the power of Astro, Tailwind
      CSS, and Markdown to create fast, lightweight web pages.
    </li>
    <li>
      <strong>Extensible and customizable: </strong>Perfect foundation to build
      upon and meet your unique needs.
    </li>
    <li>
      <strong>SEO-friendly: </strong>Sitemap, RSS feeds, and Open Graph protocol
      support out of the box.
    </li>
    <li>
      <strong>Best practices: </strong>Follows industry best practices for
      development, ensuring high-quality, maintainable code.
    </li>
    <li>
      <strong>Accessible: </strong>Dark and light themes, keyboard navigation,
      and semantic HTML. Fully compliant with WCAG standards.
    </li>
  </ul>
</section>
